/* Carousel.css */
.carousel-container {
    overflow: hidden;
    height: auto;
    background-color: black;
    padding: 9%;
}

.carousel-image {
    width: 100%;
    height: 100%; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Esto asegura que las imágenes se ajusten bien dentro del contenedor */
}

.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContainerGalery{
    height: 500px;
    width: 300px;
    overflow: hidden;
}
.galeryTituloHome{
    border: 1px solid red;
}